* {
    font-family: "Times New Roman", sans-serif;
    color: #fff;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../resources/sui-test.jpg);
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 1100px) {
      body {
        background-image: url(../resources/sui-phone.jpg);
        background-position: center, center;
        background-size: cover;
        background-repeat: no-repeat;
      }
}

.header {
    background-color: #030c1b90;
    align-items: center;
    font-size: 1.75em;
    font-weight: 900;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 12px 16px;
}

.links {
    font-family: "linelgrey";
    transition: all 0.3s;
    position: relative;
}
  .links span {
    transition: all 0.3s;
  }
  .links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .links:hover span {
    letter-spacing: 2px;
  }
  .links:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .links:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  

.pog {
    height: 1em;
    width: 1em;
}


.comet {
    height: 1em;
    width: 1em;
}

.main {
    display: flex;
    margin: 4em 10em 20em 10em;
    background-color: #030c1b90;
    border-radius: 25px;
    border: 2px none;
}

.main-left, .main-right {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 2em;
    flex: 1 0 0;
    
}

.foreword {
    font-size: 2.2em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.3em;
    font-family: "kawashiro";
    text-shadow: 0 0 5px #262d8a, 0 0 20px #4a87f1, 0 0 40px #fff;
}

.message {
    font-size: 1.2em;
    font-family: "lumineux";
}

.weeb {
    font-size: 1.37em;
    margin-top: 0.3em;
    flex: 1 1 0;
}

.enlightenment {
    font-size: 1.4em;
    width: 8em;
    height: 2.5em;
    margin: 2em 0 0 0;
    border-radius: 40px;
    background-color: #04072790;
    border: 3px solid rgb(1, 1, 15);
    font-family: "poppins";
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.enlightenment:before {
    content: '';
    background: linear-gradient(45deg, #7700ff, #3700ff, #1900ff, #1100ff, #0026ff, #0084ff, #00a2ff, #00ffff, #7700ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 40px;
}

.enlightenment:active {
    color: #000;
}

.enlightenment:active:after {
    background: transparent;
}

.enlightenment:hover:before {
    opacity: 1;
}

.enlightenment:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #040727;
    left: 0;
    top: 0;
    border-radius: 40px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.weeb, .enlightenment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 0.95em;
    text-decoration-line: underline;
    margin-top: 0.2em;
    font-family: "Times New Roman";
}

.suigif {
    width: 100%;
    height: auto;
}

.subheader {
    background: rgb(3,12,27);
    background: linear-gradient(0deg, rgba(3,12,27,1) 23%, rgba(21,34,56,1) 100%);    
}

.subheader-mainText {
    text-align: center;
    padding: 1em 1em 0 1em;
    font-size: 2em;
    font-family: "kawashiro";
}

.linkRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto 2em auto;
    gap: 3em;
    flex-wrap: wrap;
    text-align: center;
}

.text {
    padding-top: 0.5em;
    font-size: 1.5em;
    font-family: "izayoi";
}

.suicoImg {
    height:240px;
}

.sub {
    border: 3px solid rgb(211, 223, 231);
    border-radius: 0.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}

.pixivImg:hover, .redditImg:hover, .horrorImg:hover, .suicoImg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2, 96, 173);
}

.submain {
    background-image: url(../resources/suisei-1.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    filter: brightness(1.1);
}

.quote {
    margin: 3em 2em 0 2em;
    font-size: 3em;
    border-radius: 0.35em;
    text-shadow: 0 0 5px #971414, 0 0 20px #ff7d7d, 0 0 40px #000;
}

.quoteSui {
    text-align: center;
    font-size: 3em;
    text-shadow: 0 0 5px #971414, 0 0 20px #ff7d7d, 0 0 40px #000;
    border-radius: 0.35em;
    margin: 0 3em 6.8em 3em;
}

.preFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 28em 3em 28em;
    background: rgb(14,30,57);
    background: linear-gradient(0deg, rgba(14,30,57,1) 23%, rgba(3,12,27,1) 100%);  
}

.contactPage {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border-radius: 1em;
    background-color: rgb(32,32,32);
    box-shadow: 0 8px 30px black;
}

.contactBox {
    display: flex;
    flex-wrap: wrap;
}

.contactHead {
    font-size: 1.3em;
    padding-bottom: 0.2em;
    font-weight: 550;
    font-family: "Sans Serif";
}

.contactText {
    font-family: sans-serif;
}

.contactContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.contactButton {
    margin: 1em 6em 1em 6em;;
    padding: 0.4em 1.8em;
    border-radius: 0.65em;
    background: rgb(21,56,22);
    background: linear-gradient(0deg, rgba(21,56,22,1) 23%, rgba(35,135,7,1) 100%);
    border: 2px solid #666;
    font-family: "Sans Serif";
}

.contactButton:hover {
    background: rgb(21,56,22);
    background: linear-gradient(0deg, rgba(35,135,7,1) 23%, rgba(21,56,22,1) 100%);
}

@media (max-width: 1100px) {
    .contactPage {
        flex-direction: column;
    }
    .contactHead {
        text-align: center;
    }
    .contactBox {
        margin: 1em auto 0 auto;
    }
    .contactText {
        align-items: center;
        padding: 0;
        margin: 0 1em;
    }
    .contactButton {
        text-align: center;
        margin: 1em 10em 0 10em;
    }
}

.footer {
    background-color: #010711;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 15px;
    font-weight: 300;
    padding: 16px;
    margin-top: auto;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #fff
}

img {
    width: 15em;
    height: auto;
}

.website {
    text-decoration-line: underline;
}

em {
    font-family: "psycho";
}

@font-face {
    font-family: "kawashiro";
    src: url("../fonts/KawashiroGothic-Lla5.ttf");
}

@font-face {
    font-family: "izayoi";
    src: url("../fonts/IzayoiMonospaced.ttf");
}

@font-face {
    font-family: lumineux;
    src: url("../fonts/LumineuxRegular.ttf");
}

@font-face {
    font-family: "linelgrey";
    src: url("../fonts/LinlegreyRegular-Oo3O.ttf");
}

@font-face {
    font-family: "psycho";
    src: url("../fonts/psychopoetry.ttf");
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Thin.ttf");
}