* {
    font-family: "Times New Roman", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../resources/suisei-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.header {
    background-color: #152238;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
    padding: 16px;
    opacity: 0.9;
}

.footer {
    background-color: #152238;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    padding: 16px;
    opacity: 0.9;
    margin-top: auto;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #fff
}
